.main-foto{
background: url("/images/profile-main.jpg");
  height: 365px;
  background-repeat: round;
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center; /* adjust flex item horizontally */
  align-items: center; /* adjust flex item y axis */
  text-align: center; /* adjust text item */
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section-div{
    margin:30px 450px;
    font-size: 1.15rem;
}
.details{
    margin-top: 40px;
    float: left;
    width: 48%;
    margin-right: 20px;    
    margin-bottom: 50px;
}
.discover{
    margin-top: 40px;
    float: right;
    width: 48%;
    margin-bottom: 5;
}
.second-bg-img{
    clear: both;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)),
    url("/images/harran5-1.jpg") center/cover fixed no-repeat;
    max-width: 100vw;
    height: 430px;
    color: white;
    display: flex;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.second-bg-img .big-text{
    font-size: 2rem;
    position: absolute;
}
.second-bg-img .small-text{
    font-size: 1rem;
    position: absolute;
    margin-top: 100px;
}
.team-members{
    margin: 20px 400px;
    text-align: center;
}
.team-members table{
    margin-left: 100px;
}
.team-members img{
    border-radius: 150px;
    width: 200px;
}
.team-members td{
    width: 250px;
}
.last-section img{
    float: left;
}
.last-section div{
    width: 50%;
    height: 492px;
    float: left;
    padding-left: 50px;
    padding-top: 80px;
    background: lightgrey;
}
.last-section div button{
    background: rgba(0, 0, 0 ,0.8);
    width: 100px;
    height: 40px;
    border-radius: 20px;
}
.last-section a{
    text-decoration: none;
}
.last-section a:hover,.last-section a:link,.last-section a:active,.last-section a:visited {
    color: white;
}